@import "tailwindcss";

@layer components {
    @keyframes marqueeScroll {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-50%);
        }
    }
}

@layer base {
    button {
        cursor: pointer;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

@layer utilities {
    .animate-marquee {
        animation: marqueeScroll 32s linear infinite;
    }

    .animate-marquee:hover {
        animation-play-state: paused;
    }
}
